/* prettier-ignore */
@use 'sass:math';
@import './colors';
$variable-prefix: 'falcon-';

//// Grid containers
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1540px
);
////Gutter
$grid-gutter-width: 2rem ;

/// Min contrast ratio
$min-contrast-ratio: 2 ;

////Border
$border-color: var(--#{$variable-prefix}border-color);
$border-color-translucent: #e70707;
////Options
$enable-shadows: true ;
$enable-negative-margins: true;

////Shadow
$box-shadow: var(--#{$variable-prefix}box-shadow) ;
$box-shadow-sm: var(--#{$variable-prefix}box-shadow-sm) ;
$box-shadow-lg: var(--#{$variable-prefix}box-shadow-lg) ;
$box-shadow-inset: var(--#{$variable-prefix}box-shadow-inset) ;

////374-Spacing
$spacer: 1rem ;
$spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.8,
    5: $spacer * 3,
    6: $spacer * 4,
    7: $spacer * 5,
    8: $spacer * 7.5,
    9: $spacer * 10,
    10: $spacer * 12.5,
    11: $spacer * 15
);

////Body
$body-bg: $gray-200 ;
$body-color: $gray-700;

//Utilities colors map
$theme-colors-rgb: map-loop($theme-colors, to-rgb, '$value') ;
$grays-rgb: map-loop($grays, to-rgb, '$value') ;
$dark-grays-rgb: map-loop($dark-grays, to-rgb, '$value');
$brand-colors-rgb: map-loop($brand-colors, to-rgb, '$value');
$grays-with-brand-color-rgb: map-merge($brand-colors-rgb, $grays-rgb) ;
$utilities-colors: map-merge(
  $theme-colors-rgb,
  $grays-with-brand-color-rgb
);
$bg-soft-colors: map-loop(
  $theme-colors-soft,
  bg-soft-css-var,
  '$key',
  'soft'
) ;
$border-colors: map-loop($utilities-colors, rgb-css-var, '$key');
$grays-with-brand-color: map-merge($brand-colors, $grays);
$theme-all-colors: map_merge($grays-with-brand-color, $theme-colors);

//// Link-410
$link-decoration: none ;
$link-hover-decoration: underline ;

////Components
$border-radius: 0.25rem ;
$border-radius-lg: 0.375rem;

////Fonts Families
$font-family-sans-serif: 'Poppins', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol' ;
$font-family-monospace: 'SFMono-Regular', Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace ;
$font-family-base: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol' ;

////Fonts
$type-scale: 1.2;
$font-size-base: 1rem ;
$font-sizes:
  (
    '-2': math.div(1, pow($type-scale, 2)) * $font-size-base,
    //11.11
    '-1': math.div(1, $type-scale) * $font-size-base,
    //13.33
    0: $font-size-base,
    //16
    1: pow($type-scale, 1) * $font-size-base,
    // 19.2
    2: pow($type-scale, 2) * $font-size-base,
    // 23.04
    3: pow($type-scale, 3) * $font-size-base,
    // 27.65
    4: pow($type-scale, 4) * $font-size-base,
    // 33.18
    5: pow($type-scale, 5) * $font-size-base,
    // 39.81
    6: pow($type-scale, 6) * $font-size-base,
    // 47.78
    7: pow($type-scale, 7) * $font-size-base,
    // 57.33
    8: pow($type-scale, 8) * $font-size-base,
    // 68.79
  );
$font-size-sm: $font-size-base * 0.875 ;
$font-size-lg: $font-size-base * 1.2 ;
$font-weight-thin: 100 ;
$font-weight-lighter: 200;
$font-weight-normal: 400 ;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bolder: 800;
$font-weight-black: 900;

$headings-color: var(--#{$variable-prefix}headings-color) ;

////Buttons and Forms
$btn-reveal-hover-shadow: 0 0 0 1px rgba(43, 45, 80, 0.1),
  0 2px 5px 0 rgba(43, 45, 80, 0.08), 0 1px 1.5px 0 rgba($black, 0.07),
  0 1px 2px 0 rgba($black, 0.08) ;

//*-----------------------------------------------
//|   Forms
//-----------------------------------------------*/
$input-disabled-bg: var(--#{$variable-prefix}200);
$input-group-addon-bg: var(--#{$variable-prefix}200) ;
$input-border-color: var(--#{$variable-prefix}input-border-color) ;
//$input-placeholder-color: var(
//  --#{$variable-prefix}input-placeholder-color
//) !default;
$input-color: var(--#{$variable-prefix}input-color) ;
//$form-check-margin-bottom: 0.34375rem !default;
//$form-label-font-size: $font-size-sm !default;
$form-check-input-bg: transparent ;
$form-check-input-border: 1px solid
  var(--#{$variable-prefix}form-check-input-border-color) ;
//$form-switch-color: $gray-500 !default;
//$form-select-disabled-bg: var(--#{$variable-prefix}200);
$input-bg: var(--#{$variable-prefix}input-bg) ;
$input-focus-border-color: var(
  --#{$variable-prefix}input-focus-border-color
) ;
$form-file-button-bg: $gray-900 !default;
$form-file-button-color: $gray-300 !default;

////Z-index
$zindex-sticky: 1015 ;

////Navigation
$navbar-dark-active-color: var(
  --#{$variable-prefix}navbar-dark-active-color
) ;
$navbar-light-active-color: var(
  --#{$variable-prefix}navbar-light-active-color
);
$navbar-font-size: $font-size-base * 0.8 ;
$navbar-light-active-color: $primary ;
$top-nav-height: 4.3125rem ;
$standard-nav-height: 3.5625rem ;

// Navbar Glass
$bg-navbar-glass: var(--#{$variable-prefix}bg-navbar-glass) !default;

//// Navbar Tabs
$nav-tabs-border-width: 2px ;

////Navbar Brand
$navbar-brand-font-weight: $font-weight-bolder ;

////Dropdowns | Dropdown menu container and contents
$dropdown-divider-bg: var(--#{$variable-prefix}dropdown-border-color) ;
$dropdown-border-color: var(
  --#{$variable-prefix}dropdown-border-color
) ;
$dropdown-link-active-color: var(
  --#{$variable-prefix}dropdown-link-active-color
) ;
$dropdown-link-active-bg: var(
  --#{$variable-prefix}dropdown-link-active-bg
) ;
$dropdown-box-shadow: var(--#{$variable-prefix}dropdown-box-shadow) ;
$dropdown-item-padding-y: map_get($spacers, 1) ;
$dropdown-item-padding-x: map_get($spacers, 3);

////Cards
$card-spacer-x: 1.25rem ;
$card-border-radius: $border-radius-lg ;
$card-bg: var(--#{$variable-prefix}card-bg);
$card-cap-padding-x: 1.25rem !default;
//List Group
$list-group-color: var(--#{$variable-prefix}800);
$list-group-bg: var(--#{$variable-prefix}list-group-bg);
$list-group-border-color: var(--#{$variable-prefix}border-color) ;
$list-group-action-hover-color: var(
  --#{$variable-prefix}list-group-action-hover-color
) ;
$list-group-hover-bg: var(--#{$variable-prefix}list-group-hover-bg);
$list-group-action-active-bg: var(--#{$variable-prefix}200);

////Treeview
$treeview-transition-collapse: height 0.15s ease;
$treeview-row-bg-odd: var(--#{$variable-prefix}200) ;
$treeview-row-bg-even: var(--#{$variable-prefix}100);
$treeview-text-color: var(--#{$variable-prefix}600) ;

//// Viewport Heights & Widths
$viewport-heights:
  (
    25: 25vh,
    50: 50vh,
    75: 75vh,
    100: 100vh
  );

$viewport-widths:
  (
    25: 25vw,
    50: 50vw,
    75: 75vw,
    100: 100vw
  );

$sizes:
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  );

////Calendar
$calendar-color: $danger;

//Footer
$footer-height: 3.9875rem ;
$responsive-footer-height: 0.625rem;

////Avatar
$avatars-dimension:
  (
    's': toRem(20rem),
    'm': toRem(24rem),
    'l': toRem(28rem),
    'xl': toRem(32rem),
    '2xl': toRem(40rem),
    '3xl': toRem(56rem),
    '4xl': toRem(98rem),
    '5xl': toRem(168rem)
  );

$gutters: map-merge(
  $spacers,
  (
    card: $card-spacer-x * 2
  )
);

////Navbar Vertical
$navbar-vertical-breakpoints: mapReverse($grid-breakpoints) ;
$navbar-vertical-width: 12.625rem ;
$navbar-vertical-icon-width: 1.5rem ;
$navbar-vertical-collapsed-width: 3.125rem ;
$navbar-vertical-hover-width: 12.625rem ;
$navbar-vertical-collapsed-hover-shadow: 0.625rem 0 0.625rem -0.5625rem var(--#{$variable-prefix}navbar-vertical-collapsed-hover-shadow-color);
$navbar-vertical-variation-width: 14.5rem ;
$navbar-vertical-variation-collapsed-width: 4.125rem ;
$navbar-vertical-link-font-size: $font-size-sm ;
$navbar-vertical-dropdown-font-size: 0.8125rem ;
$navbar-vertical-bg-color: var(
  --#{$variable-prefix}navbar-vertical-bg-color
);
$navbar-vertical-link-color: var(
  --#{$variable-prefix}navbar-vertical-link-color
) ;
$navbar-vertical-link-hover-color: var(
  --#{$variable-prefix}navbar-vertical-link-hover-color
);
$navbar-vertical-link-active-color: var(
  --#{$variable-prefix}navbar-vertical-link-active-color
) ;
$navbar-vertical-link-disable-color: var(
  --#{$variable-prefix}navbar-vertical-link-disable-color
);
$navbar-vertical-hr-color: var(
  --#{$variable-prefix}navbar-vertical-hr-color
);
$navbar-vertical-scrollbar-color: var(
  --#{$variable-prefix}navbar-vertical-scrollbar-color
) ;
$navbar-light-brand-color: var(
  --#{$variable-prefix}navbar-light-brand-color
);
$navbar-dark-brand-color: var(
  --#{$variable-prefix}navbar-dark-brand-color
) ;
$navbar-vertical-label-color: var(--#{$variable-prefix}500) ;

//Navbar Inverted
$navbar-inverted-bg-color: $gray-1000 ;
$navbar-inverted-link-color: $gray-500 ;
$navbar-inverted-link-hover-color: $gray-200 ;
$navbar-inverted-link-active-color: $navbar-inverted-link-hover-color ;
$navbar-inverted-link-disable-color: $gray-700;
$navbar-inverted-hr-color: rgba($white, 0.08);
$navbar-inverted-scrollbar-color: $gray-400 ;
$navbar-inverted-label-color: $gray-700;

////Navbar Vibrant
$navbar-vibrant-bg-image: linear-gradient(
    -45deg,
    rgba(0, 160, 255, 0.86),
    #0048a2
  ),
  url(../../img/generic/bg-navbar.png) ;
$navbar-vibrant-link-color: rgba($white, 0.75);
$navbar-vibrant-link-hover-color: $white;
$navbar-vibrant-link-active-color: $navbar-vibrant-link-hover-color;
$navbar-vibrant-link-disable-color: rgba($white, 0.45);
$navbar-vibrant-hr-color: rgba($white, 0.2);
$navbar-vibrant-scrollbar-color: $gray-400;
$navbar-vibrant-label-color: rgba($white, 0.4);

////Navbar card
$navbar-card-bg-color: var(--#{$variable-prefix}card-bg) ;
$navbar-card-link-color: var(--#{$variable-prefix}700);
$navbar-card-link-hover-color: var(--#{$variable-prefix}900);
$navbar-card-link-active-color: $primary;
$navbar-card-link-disable-color: var(--#{$variable-prefix}400);
$navbar-card-shadow: $box-shadow ;
$navbar-card-hr-color: var(--#{$variable-prefix}navbar-card-hr-color);
$navbar-card-scrollbar-color: rgba($gray-600, 0.3);
$navbar-card-label-color: var(--#{$variable-prefix}500);

////Popover
$popover-bg: var(--#{$variable-prefix}popover-bg) ;
$popover-border-color: var(--#{$variable-prefix}popover-border-color) ;
$popover-box-shadow: var(--#{$variable-prefix}popover-box-shadow);
$popover-header-bg: var(--#{$variable-prefix}popover-header-bg) ;
$popover-header-color: var(--#{$variable-prefix}popover-peader-color) ;
$popover-body-color: var(--#{$variable-prefix}popover-body-color) ;
$popover-arrow-color: var(--#{$variable-prefix}popover-arrow-color);
$popover-arrow-outer-color: var(
  --#{$variable-prefix}popover-arrow-outer-color
) ;

////Scrollbar
$scrollbar-bg: var(--#{$variable-prefix}scrollbar-bg) ;

////Timeline
$timeline-vertical-breakpoint: lg ;
$timeline-zigzag-breakpoint: lg ;
